<div class="container">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>[Proper Title Here]</h2>
            <div class="breadcrumb">
                <p style="color: #676a6c;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row wrapper" style="margin-top: 50px;">
        <div class="col-lg-12">
            <div id="wizard">
                <h3>Recipe</h3>
                <section style="height: 300px;">
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form method="get" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Recipe Types:</label>
                                    <div class="col-sm-8" style="margin-top: 10px;">
                                        <select class="form-control input-lg m-b" name="account">
                                            <option>Agent Lead to Brivity</option>
                                            <option>Agent Lead to BoomTown</option>
                                            <option>Agent Lead to Commission Inc</option>
                                            <option>Agent Lead to Firepoint</option>
                                            <option>Agent Lead to ReThink</option>
                                            <option>Agent Lead to Top Producer</option>
                                            <option>Voicepad to Brivity</option>
                                            <option>Voicepad to BoomTown</option>
                                            <option>Voicepad to Commission Inc.</option>
                                            <option>Voicepad to Firepoint</option>
                                            <option>Voicepad to ReThink</option>
                                            <option>Voicepad to Top Producer</option>
                                            <option>Vulcan7 to Brivity</option>
                                            <option>Vulcan7 to BoomTown</option>
                                            <option>Vulcan7 to Commission Inc.</option>
                                            <option>Vulcan7 to Firepoint</option>
                                            <option>Vulcan7 to ReThink</option>
                                            <option>Vulcan7 to Top Producer</option>
                                            <option>ProQuest to Brivity</option>
                                            <option>ProQuest to BoomTown </option>
                                            <option>ProQuest to Commission Inc.</option>
                                            <option>ProQuest to Firepoint</option>
                                            <option>ProQuest to ReThink</option>
                                            <option>ProQuest to Top Producer </option>
                                            <option>Mojo to Brivity</option>
                                            <option>Mojo to BoomTown </option>
                                            <option>Mojo to Commission Inc.</option>
                                            <option>Mojo to Firepoint</option>
                                            <option>Mojo to ReThink</option>
                                            <option>Mojo to Top Producer </option>
                                            <option>RealGeeks to Brivity</option>
                                            <option>RealGeeks to BoomTown </option>
                                            <option>RealGeeks to Commission Inc.</option>
                                            <option>RealGeeks to Firepoint</option>
                                            <option>RealGeeks to ReThink</option>
                                            <option>RealGeeks to Top Producer </option>
                                            <option>Real Estate WebMasters to Brivity</option>
                                            <option>Real Estate WebMasters to BoomTown </option>
                                            <option>Real Estate WebMasters to Commission Inc.</option>
                                            <option>Real Estate WebMasters to Firepoint</option>
                                            <option>Real Estate WebMasters to ReThink</option>
                                            <option>Real Estate WebMasters to Top Producer</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <h3>Configure</h3>
                <section>
                    <div class="row" style="margin-top: 80px;">
                        <div class="col-lg-6 col-lg-offset-4">
                            <form method="get" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="i-checks">
                                            <input type="radio" checked="true" value="option1" name="a" style="position: absolute; opacity: 0;">
                                            Lead
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="i-checks">
                                            <input type="radio" checked="true" value="option1" name="a" style="position: absolute; opacity: 0;">
                                            Activity
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <h3>Source Credentials</h3>
                <section>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form method="get" class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="col-sm-3 control-label">Username:</label> <span style="font-size: 30px; color: #ed5565;">*</span>
                                    <div class="col-sm-8" style="margin-top: 10px;">
                                        <input type="text" placeholder="Username" class="form-control input-lg m-b">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Password:</label> <span style="font-size: 30px; color: #ed5565;">*</span>
                                    <div class="col-sm-8" style="margin-top: 10px;">
                                        <input type="text" placeholder="Password" class="form-control input-lg m-b">
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-6" style="padding-right: 0;">
                                    <button class="btn btn-warning btn-lg" onclick="move()"><span class="ladda-label">Test Connection</span></button>
                                </div>
                                <div class="col-lg-2" style="padding-right: 0;">
                                    <div id="checked" class="widget navy-bg p-lg text-center pull-right" style="margin-top: 0; border-radius: 50%; display: none;">
                                        <div class="m-b-md">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div id="myProgress" style="display: none; margin-top: 10px;">
                                        <div id="myBar"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <h3>Target Credentials</h3>
                <section>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form method="get" class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="col-sm-3 control-label">Username:</label> <span style="font-size: 30px; color: #ed5565;">*</span>
                                    <div class="col-sm-8" style="margin-top: 10px;">
                                        <input type="text" placeholder="Username" class="form-control input-lg m-b">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Password:</label> <span style="font-size: 30px; color: #ed5565;">*</span>
                                    <div class="col-sm-8" style="margin-top: 10px;">
                                        <input type="text" placeholder="Password" class="form-control input-lg m-b">
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-6" style="padding-right: 0;">
                                    <button class="btn btn-warning btn-lg" onclick="move2()"><span class="ladda-label">Test Connection</span></button>
                                </div>
                                <div class="col-lg-2" style="padding-right: 0;">
                                    <div id="checked2" class="widget navy-bg p-lg text-center pull-right" style="margin-top: 0; border-radius: 50%; display: none;">
                                        <div class="m-b-md">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div id="myProgress2" style="display: none; margin-top: 10px;">
                                        <div id="myBar2"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>

        </div>
    </div>
</div>

<script type="text/javascript">
    $("#wizard").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
</script>
<script type="text/javascript">
    
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

    });
</script>
<script type="text/javascript">
    function move() {

          var elem = document.getElementById("myBar");   
          var myProgress = document.getElementById("myProgress");  
          var checked =  document.getElementById("checked");  

          checked.style.display = 'none';
          myProgress.style.display = null;

          var width = 1;
          var id = setInterval(frame, 15);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
              myProgress.style.display = 'none';
              checked.style.display = 'inline';
            } else {
              width++; 
              elem.style.width = width + '%'; 
            }
          }
          // myProgress.style.display = 'none';
        }

    function move2() {

          var elem = document.getElementById("myBar2");   
          var myProgress = document.getElementById("myProgress2");  
          var checked =  document.getElementById("checked2");  

          checked.style.display = 'none';
          myProgress.style.display = null;

          var width = 1;
          var id = setInterval(frame, 15);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
              myProgress.style.display = 'none';
              checked.style.display = 'inline';
            } else {
              width++; 
              elem.style.width = width + '%'; 
            }
          }
          // myProgress.style.display = 'none';
        }
</script>