<div class="modal inmodal portfolio-modal in" id="modal-shows" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
    <div class="modal-content">
            
            <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times fa-3x fa-fw"></i>
        </div>

        <div class="modal-body">
            <h2>Thank you</h2>
            <hr>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/113287920" allowfullscreen=""></iframe>
            </div>
            <button type="button" class="border-button-black" data-dismiss="modal">CLOSE</button>
        </div>
    </div>
</div>