<header id="top" class="header">
	<div class="text-vertical">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
                    <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. -->
                    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                    <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                    <%= render 'form' %>
                </div>
                <div class="col-md-5 about-us">
                    <h1 style="margin-bottom: 2px;"><span style="color: #5fd0fc;">REAL</span> <span style="color: #f2b826;">SYNCH</span></h1>
                    <h2 style="margin-top: 2px;">Connecting the Real Estate Industry</h2>

                    <h2 style="margin-top: 40px;"><i class="fa fa-handshake-o"></i> About Us</h2>
                    <p style="line-height: 1.5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lobortis justo, 
                    quis posuere leo euismod sit amet. 
                    Quisque non tincidunt massa, eu viverra lorem.</p>
                </div>
            </div>
		</div>
	</div>
</header>